body {
    margin-top: 5%;
    width: 100%;
    background-color: rgba(27, 91, 91, 1);
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center !important;
    margin-top: 12px;
}

h2 {
    color: rgba(248, 248, 248, 1);
    font-size: 25px;
}

.container1 {
    background-color: rgba(43, 97, 114, 1);
    height: 300px;
    width: 300px;
}

.container2 {
    padding: 5px;
    color: rgba(180, 175, 175, 1);
    background-color: rgba(44, 132, 132, 1);
    margin: 5% 10% 5% 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;


}

.enter--button {
    border: none;
    background-color: #fff;
    height: 52px;
    width: 50%;
    text-align: center;
    align-content: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container3 {
    font-size: 10px;
    font-weight: 100;
    /* background-color: rgba(255, 255, 255, 1); */
    color: rgba(27, 91, 91, 1);
    /* margin: 0 40% 5% 40%; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-containerlogin {
    margin-bottom: 0 !important;
    margin-right: 4px;
    font-size: 14px !important;
}

.containerlogin {
    background-color: rgba(43, 97, 114, 1);
    margin: 2% 40% 0% 40%;
    width: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 10px;
}

.container4 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(27, 91, 91, 1);
}

.create--button {
    border: none;
    background-color: #fff;
    height: 48px;
    width: 18%;
    text-align: center;
    align-content: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}